<div id="<%= dom_id todo %>" class="group bg-gray-100 border-gray-200 px-2.5 py-0.5 text-sm even:bg-gray-200 first:border-t first:rounded-t-[6px] last:rounded-b-[6px] last:border-b border-l border-r dark:bg-gray-800 dark:border-gray-700 dark:even:bg-gray-700 dark:text-white">
    <turbo-frame id="<%= dom_id todo %>_turbo">
        <div class="flex flex-row">
            <p class="mr-auto truncate duration-100 <%= todo.completed ? "line-through": "" %>"><%= todo.title %></p>

            <div class="ml-auto flex flex-row space-x-2 overflow-hidden w-0 opacity-0 group-hover:min-w-fit group-hover:opacity-100 duration-100">
                <%= form_with(model: todo, class: "flex flex-row") do |form| %>
                    <%= form.hidden_field :completed, value: !todo.completed %>
                    <%= form.submit todo.completed ? "Incomplete": "Complete", class: "text-sm text-gray-600 hover:text-blue-600 active:text-blue-700 duration-100 cursor-pointer dark:text-gray-400 dark:hover:text-blue-600 dark:active:text-blue-700" %>
                <% end %>

                <%= link_to "Edit", edit_todo_path(todo), class: "text-sm text-gray-600 hover:text-yellow-500 active:text-yellow-600 duration-100 cursor-pointer dark:text-gray-400 dark:hover:text-yellow-500 dark:active:text-yellow-600" %>
                <%= button_to "Delete", todo, method: :delete, class: "text-sm text-gray-600 hover:text-red-500 active:text-red-600 duration-100 cursor-pointer dark:text-gray-400 dark:hover:text-red-500 dark:active:text-red-600" %> 
            </div>
        </div>
    </turbo-frame>
</div>